<footer>
  <div class="container">
    <div class="footer_image">
      <img src="../assets/img/footer-logo.png" class="img-responsive" alt="Logo baies et vérandas">
    </div>
    <div class="pad10"></div>
    <ul class="social">
      <li><a href="#" class="fab fa-facebook-f" target="_blank"></a></li>
      <li><a href="#" class="fab fa-twitter" target="_blank"></a></li>
      <li><a href="#" class="fab fa-google-plus-g" target="_blank"></a></li>
      <li><a href="#" class="fab fa-linkedin-in" target="_blank"></a></li>
      <li><a href="#" class="fab fa-pinterest-p" target="_blank"></a></li>
    </ul>
    <div class="pad10"></div>
    <hr>
    <ul class="pages">
      <li><a href="{% link accueil.html %}">Accueil</a> </li>
      <li><a href="{% link Nos-verandas.html %}">Véranda</a> </li>
      <li><a href="{% link veranda-val-de-marne.html %}">Veranda Val de Marne</a> </li>
      <li><a href="{% link remplacement-veranda.html %}">Remplacement Véranda</a> </li>
      <li><a href="{% link reparation-veranda.html %}">Réparation Véranda</a> </li>
      <li><a href="devis">Devis en ligne</a> </li>
      <li><a href="actualites">Actualités</a> </li>
      <li><a href="contact">Contact</a> </li>
      <li><a href="zone-intervention">Zones d'intervention</a> </li>
      <li><a href="{% link mentions-legales.html %}">Mentions légales</a> </li>
      <li><a href="docs/attestation-decennale-2017.pdf" target="_blank">Attestation décennale</a></li>
    </ul>
    <hr>
    <div class="bh-footer-bottom" id="bhinternet">
      <a href="http://www.bhinternet.fr" target="_blank" title="BHInternet"><span>BH</span>Internet</a> -
      <a href="http://www.bhinternet.fr" target="_blank" title="Création site internet entreprise">Création site
        internet entreprise</a> |
      2024
    </div>



  </div>
</footer>


<script src="./assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>