<section class="Navbar navbar-main fixedNav section py-0">
  <nav class="navbar Navbar_main navbar-expand-lg fixedNav">
      <div class="container">
          <div class="Navbar_image">
              <a href="{% link accueil.html %}" title="Accueil"><img loading="lazy" loading="lazy"
                      src="./assets/img/logoRN.png" class="Navbar_image-img" alt="Logo baies et vérandas" /></a>
          </div>
          <button class="navbar-toggler Navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars toggle-button Navbar_toggler-icon" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse Navbar_nav-collapse ml-auto" id="navbarNav">
              <ul class="navbar-nav Navbar_nav w-100 ml-auto">
                  <li class="nav-item Navbar_nav-item">
                      <a class="nav-link Navbar_nav-link"
                          title="Accueil" href="{% link accueil.html %}"> Accueil</a>
                  </li>
                  <li class="nav-item Navbar_nav-item ">
                      <a class="nav-link Navbar_nav-link"
                          title="Nos vérandas" href="{% link Nos-verandas.html %}">
                          Nos vérandas</a>
                  </li>
                  <li class="nav-item Navbar_nav-item">
                    <a class="nav-link Navbar_nav-link"
                        title="Réalisations" href="{% link Nos-realisations.html %}">
                        Réalisations</a>
                </li>
                  <li class="nav-item Navbar_nav-item">
                      <a class="nav-link Navbar_nav-link"
                          title="Avis clients" href="{% link avis.html %}">
                          Avis clients</a>
                  </li>
                  <li class="nav-item Navbar_nav-item">
                      <a class="nav-link Navbar_nav-link"
                          title="Contact" href="{% link contact.html %}">
                          Contact </a>
                  </li>
                  <li class=" Navbar_nav-item f-right">
                      <a class="nav-link Navbar_nav-btn" title="Devis" href="{% link devis.html %}">Devis gratuit   </a>
                  </li>
              </ul>
          </div>
      </div>
      <li class="nav-item Navbar_nav-item align-items-end">
        <div class="Navbar_nav-images">
            <span><img src="../assets/img/rge.jpg" alt="logo qualibat" class="Navbar_nav-images--img1"></span>
            <span><img src="../assets/img/logo-veranda.jpg" alt="Logo menuisier certifié 2" class="Navbar_nav-images--img2 img-responsiv"></span>
        </div>
        <div class="Navbar_nav-images">
          <span><img src="../assets/img/logo-veranda2.jpg" alt="Logo menuisier certifié" class="Navbar_nav-images--img3 img-responsiv"></span>
      </div>
      </li>
  </nav>
</section>