<section class="Navbar navbar-main fixedNav section py-0 to-hide-990">
  <nav class="navbar Navbar_main navbar-expand-lg fixedNav">
      <div class="container to-100-per-990">
        <div class="row justify-content-between w-100 align-to-center-990">
          <div class="col-md-4">
            <div class="Navbar_image">
              <a href="{% link accueil.html %}" title="Accueil"><img loading="lazy" loading="lazy"
                      src="./assets/img/logoRN.png" class="img-responsive Navbar_image-img" alt="Logo baies et vérandas" /></a>
          </div>
          </div>
          <div class="col-md-8">
            <button class="navbar-toggler Navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars toggle-button Navbar_toggler-icon" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse Navbar_nav-collapse ml-auto" id="navbarNav">
            <ul class="navbar-nav Navbar_nav w-100 ml-auto">
                <li class="nav-item Navbar_nav-item">
                    <a class="nav-link Navbar_nav-link"
                        title="Accueil" href="{% link accueil.html %}"> Accueil</a>
                </li>
                <li class="nav-item Navbar_nav-item ">
                    <a class="nav-link Navbar_nav-link"
                        title="Nos vérandas" href="{% link Nos-verandas.html %}">
                        Nos vérandas</a>
                </li>
                <li class="nav-item Navbar_nav-item">
                  <a class="nav-link Navbar_nav-link"
                      title="Réalisations" href="{% link Nos-realisations.html %}">
                      Réalisations</a>
              </li>
                <li class="nav-item Navbar_nav-item">
                    <a class="nav-link Navbar_nav-link"
                        title="Avis clients" href="{% link avis.html %}">
                        Avis clients</a>
                </li>
                <li class="nav-item Navbar_nav-item">
                    <a class="nav-link Navbar_nav-link"
                        title="Contact" href="{% link contact.html %}">
                        Contact </a>
                </li>
                <li class=" Navbar_nav-item">
                    <a class="nav-link Navbar_nav-btn" title="Devis" href="{% link devis.html %}">Devis gratuit   </a>
                </li>
            </ul>
        </div>
          </div>
        </div>
      </div>
      <div class="rge">
				<div class="line1">
					<img src="./assets/img/rge.jpg" alt="logo qualibat">
					<img src="../assets/img/logo-veranda.jpg" class="img-responsive logo-certif" alt="Logo menuisier certifié 2">
				</div>
				<img src="../assets/img/logo-veranda2.jpg" class="img-responsive logo-certif2" alt="Logo menuisier certifié">
			</div>
  </nav>
</section>


<section class="Navbar navbar-main fixedNav section py-0 to-show-990">
  <nav class="navbar Navbar_main navbar-expand-lg fixedNav">
      <div class="container">
          <div class="Navbar_image">
              <a href="{% link accueil.html %}" title="Accueil"><img loading="lazy" loading="lazy"
                      src="./assets/img/logoRN.png" class="Navbar_image-img" alt="Logo baies et vérandas" /></a>
          </div>
          <button class="navbar-toggler Navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars toggle-button Navbar_toggler-icon" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse Navbar_nav-collapse ml-auto" id="navbarNav">
              <ul class="navbar-nav Navbar_nav w-100 ml-auto">
                  <li class="nav-item Navbar_nav-item">
                      <a class="nav-link Navbar_nav-link"
                          title="Accueil" href="{% link accueil.html %}"> Accueil</a>
                  </li>
                  <li class="nav-item Navbar_nav-item ">
                      <a class="nav-link Navbar_nav-link"
                          title="Nos vérandas" href="{% link Nos-verandas.html %}">
                          Nos vérandas</a>
                  </li>
                  <li class="nav-item Navbar_nav-item">
                    <a class="nav-link Navbar_nav-link"
                        title="Réalisations" href="{% link Nos-realisations.html %}">
                        Réalisations</a>
                </li>
                  <li class="nav-item Navbar_nav-item">
                      <a class="nav-link Navbar_nav-link"
                          title="Avis clients" href="{% link avis.html %}">
                          Avis clients</a>
                  </li>
                  <li class="nav-item Navbar_nav-item">
                      <a class="nav-link Navbar_nav-link"
                          title="Contact" href="{% link contact.html %}">
                          Contact </a>
                  </li>
                  <li class=" Navbar_nav-item f-right">
                      <a class="nav-link Navbar_nav-btn" title="Devis" href="{% link devis.html %}">Devis gratuit   </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</section>